<center><h1>Brewtube</h1></center>

<table>
  

<% @videos.each do |video| %>
  <tr>
    <td><h3><%= video.name %></h3><%= video.content.html_safe %></td>
  </tr>
  <tr>
    <td><%= link_to 'Show', video %>
	
</td>
  </tr>
<% end %>
</table>




