<h1>Contact</h1>
<p>
  <a href="mailto:dansbeerlist@gmail.com">Email</a> us at dansbeerlist@gmail.com for information about the site or our tasting events. We look forward to hearing from you!
</p>